/* Стили для звездного рейтинга */
input[type="radio"]{
  display:none;
}

.star {
 size: 100pt;
 font-size: 1.5rem;
}

.feedbackIcon_plus{
  font-size: 1rem;
  color: green;
}
.feedbackIcon_minus{
  font-size: 1rem;
  color: red;
}
.adminFeedbackIcon_add{
  font-size: 1rem;
  color: green;
}
.adminFeedbackIcon_delete{
  font-size: 1rem;
  color: red;
}
.adminFeedbackIcon_delete:hover{
  font-size: 1rem;
  color: white;
}
.adminFeedbackIcon_add:hover{
  font-size: 1rem;
  color: white;
}
/* .form-control-plus{
  height: 15em;
}
.form-control-minus{
  height: 10em;
} */