.cardGrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
  /* Для карточки */
  .cardTitle{
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0.7;
  }
.cardButton{
  box-shadow: 3px 3px 10px black;
}
.cardRoom{
  box-shadow: 3px 3px 10px black;
  background:rgba(225, 222, 228, 0.514);
  transition: 0.5s ease-out;
  margin: 1em;
  width: calc(100%/3);
}
.cardRoom:hover{
  box-shadow: 3px 3px 20px black;
  background:rgba(225, 222, 228, 0.514);
  opacity: 1;
  bottom: 1px;
}
.aLink{
  text-decoration: none;
  color: white;
}
.aLink:hover{
  text-decoration: none;
  color: white;
}

/* Стили для карточек */

@media screen and (min-width: 568px){
  .cards-wrapper{
    display: flex;
    justify-content: center;
  }
  .image-wrapper{
    height: 22vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 567px){
  .card:not(:first-child){
    display: none;
    justify-content: center;
  }
}

 